---
- name: Delete nginx proxy
  apt: 
    name: nginx
    state: '{{ item }}'
    update_cache: yes
  with_items:
    - absent
    - present

- name: installing tools
  apt:
    name: '{{ php_modules }}'
    state: present
    update_cache: yes

- name: installing tools
  apt:
    name: 'mysql-client'
    state: present
    update_cache: yes