[mysqld]
user		= mysql
port		= 3306
tmpdir		= /tmp
server-id = 1
bind-address        = 192.168.120.20
myisam_recover_options=BACKUP
binlog-do-db = wordpress
max_binlog_size         = 100M
[client]
user=root
password="{{ mysql_root_password }}"
