global:
route:
  group_by: ['{{ groupId }}']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
  routes:
    - matchers:
        - severity="critical"
  inhibit_rules:
    target_match: [severity="warning"]
    equal: [alertname, service , instance]

