#
# {{ ansible_managed }}
#

[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
Type=simple

User={{ prometheus_user }}
Group={{ prometheus_group }}

ExecStart={{ exec_command }}

[Install]
WantedBy=multi-user.target