<?php

define( 'DB_NAME', 'wordpress' );

define( 'DB_USER', 'wordpress' );

define( 'DB_PASSWORD', 'wordpress' );

define( 'DB_HOST', 'db-master-01' );

define( 'DB_CHARSET', 'utf8mb4' );
define( 'DB_COLLATE', '' );

define( 'AUTH_KEY',         '&C$Cr6GHCo)?jmP_;+g-Wt5vTtt%c*o%8VyQ*g0~K(sC{<?X,9X?K(za|=co!]e~' );
define( 'SECURE_AUTH_KEY',  '(|{igP/;REH>M}tLo83HpANKc6,UfP6ey_7O@ETL_l=apCuf1{6@c(3rL]Hg|U|*' );
define( 'LOGGED_IN_KEY',    'K>7[Z_/jgCcJjh:|mcuzx@^($UTt&&q#Xx|XSLs?L8Ct7Q6*<pOt@r-(wa+$?GI@' );
define( 'NONCE_KEY',        '%$V=WF8o;2#/=m^ogz>_FYHiwr3fI7jI<v;]kUsX+&ggl0RdD.H%oLJIOdg#/0He' );
define( 'AUTH_SALT',        '[r35Z;ISy;; PR!>b*V@3`/^cgGwcy{Z^T|UKZa4Ta0e-:` RY@S4SAkt8z<&?X ' );
define( 'SECURE_AUTH_SALT', 'wB#ql%W{5dj)KvwSGq=v|QAdbt`R e^<=Jv=o},Bq}jyX<&J%|#iHf659{w#Ev:2' );
define( 'LOGGED_IN_SALT',   'WNiAVhT YL_R{nSl02Jp&t9)RE]@ulR-xqGW-.R$Y.Ayaf9?jHT.d6 RNam)*QNs' );
define( 'NONCE_SALT',       '%)N@XUxYz6^V.QLe:U.rBixr$oa8Wfoi}tQU~;nhV&t&Pfz@fwuM[l=NO`IKOt{(' );


define( 'WP_DEBUG', false );


if ( ! defined( 'ABSPATH' ) ) {
        define( 'ABSPATH', __DIR__ . '/' );
}

require_once ABSPATH . 'wp-settings.php';
