<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the installation.
 * You don't have to use the web site, you can copy this file to "wp-config.php"
 * and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * Database settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://wordpress.org/support/article/editing-wp-config-php/
 *
 * @package WordPress
 */

// ** Database settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', 'wordpress' );

/** Database username */
define( 'DB_USER', 'wordpress' );

/** Database password */
define( 'DB_PASSWORD', 'wordpress' );

/** Database hostname */
define( 'DB_HOST', 'db-master-01' );

/** Database charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8mb4' );
define( 'DB_COLLATE', '' );

/**#@+
 * Authentication unique keys and salts.
 *
 * Change these to different unique phrases! You can generate these using
 * the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}.
 *
 * You can change these at any point in time to invalidate all existing cookies.
 * This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define( 'AUTH_KEY',         '&C$Cr6GHCo)?jmP_;+g-Wt5vTtt%c*o%8VyQ*g0~K(sC{<?X,9X?K(za|=co!]e~' );
define( 'SECURE_AUTH_KEY',  '(|{igP/;REH>M}tLo83HpANKc6,UfP6ey_7O@ETL_l=apCuf1{6@c(3rL]Hg|U|*' );
define( 'LOGGED_IN_KEY',    'K>7[Z_/jgCcJjh:|mcuzx@^($UTt&&q#Xx|XSLs?L8Ct7Q6*<pOt@r-(wa+$?GI@' );
define( 'NONCE_KEY',        '%$V=WF8o;2#/=m^ogz>_FYHiwr3fI7jI<v;]kUsX+&ggl0RdD.H%oLJIOdg#/0He' );
define( 'AUTH_SALT',        '[r35Z;ISy;; PR!>b*V@3`/^cgGwcy{Z^T|UKZa4Ta0e-:` RY@S4SAkt8z<&?X ' );
define( 'SECURE_AUTH_SALT', 'wB#ql%W{5dj)KvwSGq=v|QAdbt`R e^<=Jv=o},Bq}jyX<&J%|#iHf659{w#Ev:2' );
define( 'LOGGED_IN_SALT',   'WNiAVhT YL_R{nSl02Jp&t9)RE]@ulR-xqGW-.R$Y.Ayaf9?jHT.d6 RNam)*QNs' );
define( 'NONCE_SALT',       '%)N@XUxYz6^V.QLe:U.rBixr$oa8Wfoi}tQU~;nhV&t&Pfz@fwuM[l=NO`IKOt{(' );

/**#@-*/

/**
 * WordPress database table prefix.
 *
$table_prefix = 'msh_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the documentation.
 *
 * @link https://wordpress.org/support/article/debugging-in-wordpress/
 */
define( 'WP_DEBUG', false );

/* Add any custom values between this line and the "stop editing" line. */



/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
        define( 'ABSPATH', __DIR__ . '/' );
}

/** Sets up WordPress vars and included files. */
require_once ABSPATH . 'wp-settings.php';
